{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container">
<div class="overlay">
        <h3 id="login">Login</h3>
    <div id="particle-js" class="container-1">
        <div id="paul" class="division wrapper fadeInDown">

            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            <div class="division" id="centered-card">
                <form action="/login" method="POST">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" placeholder="Username" name="username">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password">
                    <button class="btn btn-outline-danger" id="hellobutton" type="submit">Login</button>
                </form>
                <p class="login-text" id="option-signup">Don't have an account  ?  <br><a href="/signup">Sign Up<a> << </p> 
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}