/* body {
  margin: 0;
  padding: 0;
  background_image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img(20).jpg");
}

#particles-js {
  background_repeat: no-repeat;
  background_size: cover;
}

body{
    background_image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img(20).jpg");
 } */